<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <style>
        body{text-align: center;}
    </style>
</head>
<body>
    <h1>{{community.title}}</h1>
    <div>
    평점: {{community.rate}}
    <br>
    <!-- 현재상영중: {{community.now}} -->
    <br>
    후기: {{community.review}}
    </div>
    <br>
    <button type ="button" onClick="location.href = '{% url 'home' %}'">홈으로</button>

</body>
</html>