<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Community</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>MOVIE COMMUNITY</h1>
    <p>총 게시물 수: {{post_count}}</p>
    <div class="container">
        <table border="1" align="center">
            <th width=300>영화 제목</th>
            <th width=100>평점</th>
            <!-- <th width=200>현재상영중</th> -->
            {% for community in community%}
            <tr>
                <td><a href="{%url 'detail' community.id %}">{{community.title}}</a></td>
                <td>{{community.rate}}</td>
                <!-- <td>{{community.now}}</td> -->
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <br>
        <button type="button" onClick="location.href = '{%url 'new'%}'">새 게시물</button>

    </div>
</body>

</html>