<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작성하기</title>
    <style>
        body{text-align: center;}
    </style>
</head>
<body>
    <form action="{%url 'create'%}" method="post">
        {%csrf_token%}
        <p>제목: <input type = "text" name = "title"></p>
        <p>평점: <input type = "text" name = "rate"></p>
        <!-- <p>현재상영중: <input type = "checkbox" name = "now"></p> -->
        <p>본문: <textarea name = "body" id = "" cols = '30' rows ='10'></textarea></p>
        <button type="submit">작성하기</button>
    </form>
    <br>
    <button type ="button" onClick="location.href = '{% url 'home' %}'">홈으로</button>
</body>
</html>